{% extends "Insurence_Web/base.html"%}

{% load static %}

{% block content %}

<div class="row">

    <!-- Left collum (Image + Contacts) -->
    <div class="col-sm-3">
        <img src="{% static picture %}" class="img-fluid mb-4" alt="Profile image">

        {% for key, value in person_json_info.Contacts.items %}
            <p>
                {{ key }} : {{ value }}
            </p>
        {% endfor %}
    </div> 

    <!-- Right collum (Personal info + Address) -->
    <div class="col-sm-9 border-start ps-5 d-flex flex-column justify-content-between">

        <div>
            {% for key, value in person_json_info.Personal_info.items %}
                <p>{{ key }} : {{ value }}</p>
            {% endfor %}
        </div>

        <div>
            {% for key, value in person_json_info.Address.items %}
                <p>{{ key }} : {{ value }}</p>
            {% endfor %}
        </div>

    </div>
</div>
{% endblock %}