{% extends "Insurence_Web/base.html"%}

{% block content %} 

        <!-- Search bar  -->
<div class="container mt-5 text-center">
    <form method='GET'>
        {% if query %}
            <input type="Search" name='q' class="form-control" id="exampleFormControlInput1" placeholder="{{ query }}">
        {% else %}
            <input type="Search" name='q' class="form-control" id="exampleFormControlInput1" placeholder="Search: name, city...">
        {% endif %}
    </form>
</div>

<!-- Search results table  -->
<div class="container mt-5 text-center">
    {% if search_result_data %}
    <table class="table table-striped table-center">
            <thead>
                <tr>
                    <!-- Maybe even make these cols from search results list  -->
                    <th scope="col">ID</th> <!-- Make these clickable, for sorting  -->
                    <th scope="col">Name</th>
                    <th scope="col">Birth</th>
                    <th scope="col">City</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
                {% for person_id, person_data in search_result_data.items %}
                    <tr>
                        <th scope="row"><a href="Profile/{{person_id}}">{{ person_id }}</a></th>
                        {% for key, value in person_data.items %}
                            <th scope="row">{{ value }}</th>
                        {% endfor %}
                    </tr>
                 {% endfor %}
            </tbody>
    </table>
    <!-- Search results Buttons  -->
    <div class="container mt-5 text-center">
        {% for number in button_range %}
            <p> gay {{ number }} </p>
        {% endfor %}
    </div>
    {% endif %}

    {% if error_message %}
        <p> {{ error_message }} </p>
    {% endif %}

</div>

{% endblock %}