{% block sidemenu %}
<div class="flex-shrink-0">
        <a
          href="/Insurence_Web/home"
          class="d-flex align-items-center pb-3 mb-3 link-body-emphasis text-decoration-none border-bottom"
        >
          <svg
            class="bi pe-none me-2"
            width="30"
            height="24"
            aria-hidden="true"
          >
            <use xlink:href="#bootstrap"></use>
          </svg>
          <span class="fs-5 fw-semibold">Claimnots</span>
        </a>
        <ul class="list-unstyled ps-0">
          <li class="mb-1">
            <button
              class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
              data-bs-toggle="collapse"
              data-bs-target="#home-collapse"
              aria-expanded="false"
            >
              Home
            </button>
            <div class="collapse" id="home-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li>
                  <a
                    href="/Insurence_Web/home"
                    class="link-body-emphasis d-inline-flex text-decoration-none rounded"
                    >Overview</a
                  >
                </li>
                <li>
                  <a
                    href="/Insurence_Web/home/updates"
                    class="link-body-emphasis d-inline-flex text-decoration-none rounded"
                    >Updates</a
                  >
                </li>
              </ul>
            </div>
          </li>
          <li class="mb-1">
            <button
              class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
              data-bs-toggle="collapse"
              data-bs-target="#insured-collapse"
              aria-expanded="false"
            >
              Insured
            </button>
            <div class="collapse" id="insured-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li>
                  <a
                    href="/Insurence_Web/insured/new"
                    class="link-body-emphasis d-inline-flex text-decoration-none rounded"
                    >New</a
                  >
                </li>
                <li>
                  <a
                    href="#"
                    class="link-body-emphasis d-inline-flex text-decoration-none rounded"
                    >Searching</a
                  >
                </li>
              </ul>
            </div>
          </li>
          <li class="mb-1">
            <button
              class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
              data-bs-toggle="collapse"
              data-bs-target="#insurences-collapse"
              aria-expanded="false"
            >
              Insurences
            </button>
            <div class="collapse" id="insurences-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li>
                  <a
                    href="/Insurence_Web/insurence/new/"
                    class="link-body-emphasis d-inline-flex text-decoration-none rounded"
                    >New</a
                  >
                </li>
                <li>
                  <a
                    href="#"
                    class="link-body-emphasis d-inline-flex text-decoration-none rounded"
                    >My Insurences</a
                  >
                </li>
                <li>
                  <a
                    href="#"
                    class="link-body-emphasis d-inline-flex text-decoration-none rounded"
                    >Searching</a
                  >
                </li>
              </ul>
            </div>
          </li>
          <li class="mb-1">
            <button
              class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
              data-bs-toggle="collapse"
              data-bs-target="#questionares-collapse"
              aria-expanded="false"
            >
              Questionares
            </button>
            <div class="collapse" id="questionares-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li>
                  <a
                    href="/Insurence_Web/questionare/new/"
                    class="link-body-emphasis d-inline-flex text-decoration-none rounded"
                    >New</a
                  >
                </li>
                <li>
                  <a
                    href="#"
                    class="link-body-emphasis d-inline-flex text-decoration-none rounded"
                    >Searching</a
                  >
                </li>
              </ul>
            </div>
          </li>
          <li class="border-top my-3"></li>
          <li class="mb-1">
            <button
              class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
              data-bs-toggle="collapse"
              data-bs-target="#account-collapse"
              aria-expanded="false"
            >
              Account
            </button>
            <div class="collapse" id="account-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li>
                  <a
                    href="#"
                    class="link-body-emphasis d-inline-flex text-decoration-none rounded"
                    >Profile</a
                  >
                </li>
                <li>
                  <a
                    href="#"
                    class="link-body-emphasis d-inline-flex text-decoration-none rounded"
                    >Settings</a
                  >
                </li>
                <li>
                  <a
                    href="#"
                    class="link-body-emphasis d-inline-flex text-decoration-none rounded"
                    >Sign out</a
                  >
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
{% endblock %}